.addTransation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
}
.addForm{
    padding: 6rem;
    padding-bottom: 6rem;
}

#closeForm{
    position: absolute;
    top:1.5rem;
    right: 6rem;
    font-size: 2.5rem;
}

#addBtn{
    float: right;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.notValid{
    border: 2px solid red !important;
}

.button-switch-container{
    border: 2px solid #333;
    border-radius: 0.3rem;
}
.button-switch{
    width: 50%;
    text-transform: uppercase;
    font-size: 1..1rem;
    transition: color 0.3s;
    padding: 1rem 0;

}
.left{
    transform-origin: right;
}
.right{
    transform-origin: left;
}
.left.active{
    background-color: rgba(94, 209, 104, 0.7);

}
.right.active{
    background-color: rgba(204, 71, 71, 0.7);
    
}