.categories-container {
  position: absolute;
  height: calc(100vh - 78px);
  top: 78px;
  left: 0;
  max-width: 250px;
  background-color: whitesmoke;
  border-right: 1px solid #444;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 10;
}
.categories-container.closeAside {
  width: 0%;
}
@media screen and (min-width: 882px){
  .categories-container.closeAside {
    width: 100%;
  }
}

.category-item {
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: padding-left 0.3s;
}
.category-item:hover,
.category-item:focus {
  padding-left: 1.5rem;
}
.category-item.active {
  padding-left: 1.5rem;
  font-weight: bold;
}
