@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

svg {
  vertical-align: baseline !important ;
}

@media(max-width:882px){
  .category-column {
    position: absolute;
    z-index: 10000000;
    top: 55px;
    left: 0;
    width: 40%;
    left: -100%;
    transition: left 0.5s linear;
  }
}

.category-column.toogle {
  left: 0;
}

@media (min-width: 882px) {
  .app-center {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .category-column {
    display: initial;
    width: 100%;
  }
}
